<?xml version="1.0" encoding="utf-8"?>

<Package
xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap mp rescap">

	<Identity
	  Name="59944OnionWare.OnionWriter"
	  Publisher="CN=8CEE4838-CB93-4525-872C-642AB2CD5EB7"
	  Version="1.7.0.0" />

	<mp:PhoneIdentity PhoneProductId="a59fac14-4f9d-4094-941e-004049013e49" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>OnionWriter</DisplayName>
		<PublisherDisplayName>Onion-Ware</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="Test.App">
			<uap:VisualElements
			  DisplayName="OnionWriter"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="A powerful and easy-to-use text editor for Windows developed by Lorenz Otto at OnionWare"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="OnionEditor" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="document">
						<uap:SupportedFileTypes>
							<uap:FileType>.rtf</uap:FileType>
							<uap:FileType>.txt</uap:FileType>
						</uap:SupportedFileTypes>
						<uap:EditFlags OpenIsSafe="true"/>
					</uap:FileTypeAssociation>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>